* {
  box-sizing: border-box;
  margin: 0; /* margin 0; her forcer margin 0 på alting */
  padding: 0;
}
body {
  background-color: #f0ffff;
}
body,
html {
  font-family: "calibri", sans-serif;
  padding-top: 0;
  width: 100%;
}

/* .nav {
  overflow: hidden;
  background-color: teal;
  margin: 0;
  box-shadow: 1px 1px grey;
  padding: 20px 20px;
  float: right;
}
.nav div {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */
.header {
  overflow: hidden;
  background-color: black;
  /* padding: 10px 10px; */
  margin-bottom: 3px;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 15px 10px -15px #111;
}
.header li {
  float: right;
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 12px;
  text-decoration: none; /* ingen style på links */
  font-size: 18px;
  color: white;
}
.header li:hover {
  background-color: #f0ffff;
  color: black;
}
.header a {
  text-decoration: none;
  color: inherit;
}
ul {
  width: 80%;
  max-width: 1080px;
  align-content: center;
  align-self: center;
}
.header li:last-child {
  float: left;
  font-weight: bold;
}
.forsidecontainer {
  max-width: 1080px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  grid-template: repeat(1, 347px) / repeat(1, 1fr);
  grid-template-areas:
    "te  bi"
    "te  bi";
}
.forsidecontainer > .toptext {
  display: grid;
  justify-content: center;
  align-items: center;
}
.forsidecontainer > div {
  margin-left: 20px;
}
.forsidecontainer h1 {
  align-items: center;
  font-size: 48px;
  padding-top: 0;
  /*grid-area: te;*/
}
.forsidecontainer h2 {
  /*grid-area: te;*/
  font-size: 40px;
}
.forsidecontainer p {
  /*grid-area: te;*/
  font-size: 20px;
}
.forsidecontainer > div {
  display: grid;
  justify-content: space-between;
  font-size: 2em;
  color: black;
  grid-gap: 3px;
}
.contentcontainer {
  display: grid;
  justify-content: center;
  grid-gap: 150px;
  margin-top: 50px;
  /* background-color: #f0ffff; */
  grid-template: repeat(4, auto) / repeat(1, auto);
  position: relative;
}
.contentcontainer > div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  color: black;
  grid-gap: 3px;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
}

.contentcontainer > div:nth-child(1n) {
  background-color:  /* #add8e6;*/ white;
}

.contentcontainer > div:nth-child(2n) {
  background-color: /* #fffacd; */ white;
}

.contentcontainer > div:nth-child(3n) {
  background-color:  /* #ff6f69;*/ white;
}

.contentcontainer > div:nth-child(4n) {
  background-color:  /*#b0c4de;*/ white;
}

.ommigcontainer {
  display: grid;
  max-width: 1080px;
  padding: 20px;
  align-content: center;
  align-items: center;
  grid-template: repeat(1, 430px) / repeat(2, 1fr);
  grid-template-areas: "t b";
}
.ommigcontainer p {
  font-size: 12px;
  grid-area: t;
  margin: 20px;
}
.ommigcontainer h2 {
  font-size: 36px;
  margin: 20px;
  padding-left: 20;
  grid-area: t;
}
.ommigcontainer > .billede {
  border-radius: 50%;
  width: 80%;
  height: auto;
  border: 1px solid black;
  align-self: center;
  margin: 0 auto;
}

img

/*.ommigcontainer h3 {
  font-size: 26px;
  padding-left: 20;
  padding-top: 0;
  margin: 20px;
}*/
.portioliocontainer > div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  color: black;
  grid-gap: 3px;
}

.portioliocontainer {
  grid-template-columns: 1fr 1fr;
  max-width: 1080px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  align-content: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "h h ."
    "c1 c2 c3"
    "p1 p2 p3";
}
.portioliocontainer p {
  font-size: 12px;
  margin-left: 20px;
  margin-top: 0;
}
.portioliocontainer h2 {
  font-size: 36px;
  margin: 20px;
  padding-left: 20;
  grid-area: h;
}
.portioliocontainer img {
  opacity: 0;
  transition: 0.5s ease;
}
.portioliocontainer img:hover {
  opacity: 1;
}

.showcase1 {
  height: auto;
  grid-area: c1;
  /* display: flex;
  flex-direction: column; */
}

.case1text {
  text-align: center;
  width: auto;
  grid-area: c1;
  margin: 0;
}

.case1text p {
  margin: 0;
}
/* Dette er mellemrum */
.showcase2 {
  height: auto;
  grid-area: c2;
  /* display: flex;
  flex-direction: column; */
}

.case2text {
  text-align: center;
  width: auto;
  grid-area: c2;
  margin: 0;
}

.case2text p {
  margin: 0;
}

.showcase3 {
  height: auto;
  grid-area: c3;
  /* display: flex;
  flex-direction: column; */
}

.case3text {
  text-align: center;
  width: auto;
  grid-area: c3;
  margin: 0;
}

.case3text p {
  margin: 0;
}
.portioliocontainer .case1 {
  width: 100%;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
  z-index: 1;
  grid-area: c1;
  height: 193.71px;
}
.portioliocontainer .case2 {
  grid-area: c2;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
  z-index: 2;
  height: 193.71px;
}
.portioliocontainer .case3 {
  grid-area: c3;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
  z-index: 2;
  height: 193.71px;
}

.portioliocontainer .p1 {
  grid-area: p1;
}
.portioliocontainer .p2 {
  grid-area: p2;
}

.portioliocontainer .p3 {
  grid-area: p3;
}
.kontaktcontainer {
  grid-template-columns: 1fr 1fr;
  max-width: 1080px;
  padding: 20px;
  align-content: center;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas:
    "ko . ."
    "i i2 i3";
}

.kontaktcontainer h2 {
  font-size: 36px;
  margin: 20px;
}
/*.kontaktcontainer p {
  font-size: 20px;
  grid-area: k1;
  padding-top: 0px;
  margin: 20px;
} */
